<!-- wp:template-part {"slug":"header","theme":"starter-theme","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group site-main"><!-- wp:group {"align":"wide","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group alignwide"><!-- wp:theme/post-listing {"postsPerPage":4,"enablePagination":true,"desktopPostsPerRow":4,"showFeaturedImage":false} /--></div>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"starter-theme","tagName":"footer","className":"site-footer"} /-->